@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_utils.scss";

.footer {
  height: 60px;
  margin-top: 5vh;
  background-color: #FFCC00;
}

.header {
  width: 100%;
  overflow: hidden;

  &__title {
    font-size: 2.5rem;
    color: #8E8E93;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 15px;
    font-weight: 600;
    justify-content: space-between;
    color: $primaryDark;

    &__menu {
      display: flex;
      gap: 20px;
    }

  }

  &__nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primaryBlue;
    color: white;
    overflow: hidden;

    &-items {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4rem;
      padding-left: 0;

      &-back {
        overflow: hidden;
        background-image: linear-gradient(to top, $primaryYellow 50%, transparent 50%);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size 0.8s;

        &:hover,
        &:focus {
          background-size: 100% 100%;
        }
      }

      &-item {
        font-size: 1.3rem;
        text-decoration: none;
        font-weight: 600;
        color: whitesmoke;
        word-break: break-word;
      }
    }
  }
}

@include mobile {
  .header__title {
    margin-top: 5px;
    font-size: 2rem;
  }

  .header__nav {
    height: 15px;
  }

  .header__nav-items {
    display: none;
  }

}

@include tablet {
  .header__title {
    margin-top: 5px;
    font-size: 2rem;
  }

  .header__nav {
    height: 15px;
  }

  .header__nav-items {
    display: none;
  }

}

.carousel {

  input:checked+.carousel__slides-container .carousel__slides-container-img {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
  }

  input:checked+.carousel__slides-container .carousel__slides-container-controls label {
    display: block;
  }

  input#img-1:checked~.carousel__dots label#img-dot-1,
  input#img-2:checked~.carousel__dots label#img-dot-2,
  input#img-3:checked~.carousel__dots label#img-dot-3 {
    opacity: 1;
  }

  margin: 0 auto;
  max-width: 800px;
  margin-top: 30px;


  &__slides {
    display: block;
    position: relative;
    height: 400px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;

    @media (max-width: 768px) {
      width: 100%;
      height: 30vh;
    }

    &-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      z-index: 10;
      text-align: center;

      &-dot {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: whitesmoke;
        opacity: 0.5;
        margin: 10px;
        cursor: pointer;
      }
    }

    * {
      user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
    }

    input {
      display: none;
    }

    &-container {
      display: block;

      &-img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0;
        transition: all 0.7s ease-in-out;

        &:hover+.carousel__slides-container-controls label {
          opacity: 0.5;
        }

        img {
          width: auto;
          min-width: 100%;
          height: 100%;

        }

      }

      &-controls {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        font-size: 50px;
        line-height: 400px;
        color: #FFCC00;

        &-prev {
          width: 49%;
          text-align: left;
          left: 0;
          color: #FFCC00;
          z-index: 999;
        }

        &-next {
          width: 49%;
          text-align: right;
          right: 0;
        }

        label {
          display: none;
          position: absolute;
          padding: 0 20px;
          opacity: 0;
          transition: opacity 0.2s;
          cursor: pointer;
        }

      }

    }

  }

}

.container {
  background-color: #1F1F21;
  background-image: url(../public/images/1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button-prev {
  position: absolute;
  left: 10vh;
  z-index: 999;
  top: 3vh;

  @extend .blue__button;

  @media(max-width:768px) {
    top: 5vh;
    left: 6vh;
  }

}

.background-blue {
  position: absolute;
  left: 5vh;
  background-color: #5AC8FA;
  width: 30%;
  height: 100%;

  @media(max-width:768px) {
    width: 80%;
  }

}

.text-highlight {
  overflow: hidden;
  background-image: linear-gradient(to top, $primaryYellow 50%, transparent 50%);
}

.form__login {
  margin: 20vh auto !important;
}

.form__signup {

  &__title {
    font-size: 3vh;
  }

  overflow: hidden;
  flex-wrap:nowrap;
  width: 80%;
  margin: 10vh auto;
  padding: 5vh 3vh;

  &__btn {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    background-color: $primaryDark;
    opacity: 0.8;
    margin: 2vh 0;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &-submit {
      border: none;
      outline: none;
      background-color: $primaryDark;
      color: white;
      font-size: 2vh;
      font-weight: 700;
      cursor: pointer;
    }

  }

  &__block {
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    line-height: 3vh;
    background-color: white;
    margin: 3vh 0;
    border-radius: 40px;
    display: flex;
    align-items: center;

    &-login {
      display: flex;
      justify-content: center;
      padding-top: 1vh;
      padding-bottom: 1vh;
      color: white;

      &-link {
        text-decoration: none;
        padding-left: 5px;
        color: #FFCC00;
        font-weight: 700;
      }
    }

    label {
      font-size: 3vh;
      padding-left: 1vh;
      padding-right: 1vh;

    }

    input {
      border: none;
      outline: none;
      font-size: 2vh;
      background-color: transparent;
      width: 90%;
      overflow: hidden;

      &:focus {
        border: none;
      }

    }

  }

}

.error__msg {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

// newsBox : show news


// news post form

.form {
  width: 60%;
  margin: 30px auto;
  padding: 5vh 5vh 3vh 5vh;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px #cbced1;
  border-radius: 20px;

  @include desktop {
    width: 40%;
  }
  
  &__block {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    font-size: 2vh;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;

    &-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px
    }

    &__submit-btn{
      @extend .blue__button;
      font-size: 1.8vh;
      border-radius: 20px;
      padding: 6px;
      width: 100%;
      font-weight: 600;

      &:hover, &:focus{
        font-weight: 700;
        color: white;
        background-color: $primaryBrown;
      }

    }

    &-extra {
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &-hashtag {
      width: 80%;
    }

    &-img {
      width: 20%;
      float: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &-logo {
        font-size: 20px;
        padding-right: 20px;
      }

    }

    select {
      border: none; 
    }

    @media (max-width:768px) {
      font-size: 1.6vh;
    }

    &-category {
      display: flex;
    }

    label {
      color: primaryDark;
    }

    input {
      height: 70%;
      width: 100%;
      font-size: 1.5vh;
      color: $primaryGrey;
      height: 25px;
    }

    textarea {
      width: 100%;
      height: 300px;
    }

  }
}

// mobile
@media(max-width:820px) {
  .header__nav{
    display: none;
  }
}