body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$primaryDark: #1F1F21;
$primaryBrown: #D6CEC3;
$primaryGrey: #8E8E93;
$primaryPink: #FFD3E0;
$primaryBlue: #5AC8FA;
$primaryRed: #FF3A2D;
$primaryYello: #FFCC00;

.hidden {
  display: none;
}

.borderless_button {
  border: none;
  background-color: transparent;
  font-size: 2vh;
  cursor: pointer;
}

.footer {
  height: 60px;
  margin-top: 5vh;
  background-color: #FFCC00;
}

.header {
  width: 100%;
  overflow: hidden;

  &__title {
    font-size: 2.5rem;
    color: #8E8E93;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 15px;
    font-weight: 600;
    justify-content: space-between;
    color: $primaryDark;

    &__menu {
      display: flex;
      gap: 20px;
    }

  }

  &__nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primaryBlue;
    color: white;
    overflow: hidden;

    @media(max-width:768px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &-items {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4rem;
      padding-left: 0;

      @media(max-width:768px) {
        gap: 2rem;
      }

      &-back {
        overflow: hidden;
        background-image: linear-gradient(to top, $primaryYello 50%, transparent 50%);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size 0.8s;

        &:hover,
        &:focus {
          background-size: 100% 100%;
        }
      }

      &-item {
        font-size: 1.3rem;
        text-decoration: none;
        font-weight: 600;
        color: whitesmoke;
        word-break: break-word;

        @media (max-width:768px) {
          font-size: 0.8rem;
        }

      }
    }
  }
}

.carousel {

  input:checked+.carousel__slides-container .carousel__slides-container-img {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
  }

  input:checked+.carousel__slides-container .carousel__slides-container-controls label {
    display: block;
  }

  input#img-1:checked~.carousel__dots label#img-dot-1,
  input#img-2:checked~.carousel__dots label#img-dot-2,
  input#img-3:checked~.carousel__dots label#img-dot-3 {
    opacity: 1;
  }

  margin: 0 auto;
  max-width: 800px;
  margin-top: 30px;


  &__slides {
    display: block;
    position: relative;
    height: 400px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;

    @media (max-width: 768px) {
      width: 100%;
      height: 30vh;
    }

    &-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      z-index: 999;
      text-align: center;

      &-dot {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: whitesmoke;
        opacity: 0.5;
        margin: 10px;
        cursor: pointer;
      }
    }

    * {
      user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
    }

    input {
      display: none;
    }

    &-container {
      display: block;

      &-img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0;
        transition: all 0.7s ease-in-out;

        &:hover+.carousel__slides-container-controls label {
          opacity: 0.5;
        }

        img {
          width: auto;
          min-width: 100%;
          height: 100%;

        }

      }

      &-controls {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        font-size: 50px;
        line-height: 400px;
        color: #FFCC00;

        &-prev {
          width: 49%;
          text-align: left;
          left: 0;
          color: #FFCC00;
          z-index: 999;
        }

        &-next {
          width: 49%;
          text-align: right;
          right: 0;
        }

        label {
          display: none;
          position: absolute;
          padding: 0 20px;
          opacity: 0;
          transition: opacity 0.2s;
          cursor: pointer;
        }

      }

    }

  }

}

.container {
  background-color: #1F1F21;
  background-image: url(../public/images/1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button-prev {
  position: absolute;
  left: 10vh;
  z-index: 999;
  top: 3vh;

  button {
    border: none;
    font-size: 3vh;
    background-color: #5AC8FA;
    cursor: pointer;
    color: #1F1F21;
  }

  @media(max-width:768px) {
    top: 5vh;
    left: 6vh;
  }

}

.background-blue {
  position: absolute;
  left: 5vh;
  background-color: #5AC8FA;
  width: 30%;
  height: 100%;

  @media(max-width:768px) {
    width: 80%;
  }

}

.text-highlight {
  overflow: hidden;
  background-image: linear-gradient(to top, $primaryYello 50%, transparent 50%);
}

.form__login {
  margin: 20vh auto !important;
}

.form__signup {

  &__title {
    font-size: 3vh;
  }

  overflow: hidden;
  flex-wrap:nowrap;
  width: 80%;
  margin: 10vh auto;
  padding: 5vh 3vh;

  &__btn {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    background-color: $primaryDark;
    opacity: 0.8;
    margin: 2vh 0;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &-submit {
      border: none;
      outline: none;
      background-color: $primaryDark;
      color: white;
      font-size: 2vh;
      font-weight: 700;
      cursor: pointer;
    }

  }

  &__block {
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    line-height: 3vh;
    background-color: white;
    margin: 3vh 0;
    border-radius: 40px;
    display: flex;
    align-items: center;

    &-login {
      display: flex;
      justify-content: center;
      padding-top: 1vh;
      padding-bottom: 1vh;
      color: white;

      &-link {
        text-decoration: none;
        padding-left: 5px;
        color: #FFCC00;
        font-weight: 700;
      }
    }

    label {
      font-size: 3vh;
      padding-left: 1vh;
      padding-right: 1vh;

    }

    input {
      border: none;
      outline: none;
      font-size: 2vh;
      background-color: transparent;
      width: 90%;
      overflow: hidden;

      &:focus {
        border: none;
      }

    }

  }

}

.error__msg {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

// newsBox

.post-btn {
  @extend .form__signup__btn;
  width: 20vh;
  font-size: 2vh;
  background-color: $primaryYello;
  border: none;
  
}

.post__create-btn {
  padding-left: 80%;
}

.news__container {
  width: 100%;
  height: 100%;
  margin: 5vh auto;
}

.numBtnClicked {
  background-color: #FFCC00 !important;
  border-radius: 50%;
}

.pagination__btns {
  align-items: center;
  margin-bottom: 3vh;
  gap: 2vh;
  display: flex;
  justify-content: center;

  button {
    cursor: pointer;
    color: #1F1F21;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2.5vh;
    display: flex;
  }
}

.create-btn {

  display: flex;
  justify-content: space-between;

  button {
    @extend .borderless_button;

  }
}

.newsPost {
  width: 70%;
  margin: 5vh auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vh;
  flex-wrap: wrap;
  padding-left: 1vh;
  padding-right: 1vh;

  @media(max-width:768px) {
    grid-template-columns: repeat(2, 1fr);
  }

}

.post__box {
  width: 30vh;
  height: 30vh;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 8vh;

  @media(max-width:768px) {
    width: 15vh;
    height: 15vh;
  }

  &-postImage {
    img {
      border-radius: 10%;
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;
  }

  &-postImage {
    padding-bottom: 1vh;

    img {
      width: 20vh;
      height: 20vh;
      z-index: 999;

      @media(max-width:768px) {
        width: 10vh;
        height: 10vh;
      }

      &:hover {
        width: 25vh;
        height: 25vh;
        transition: all 0.5s ease-in-out;

        @media(max-width:768px) {
          width: 15vh;
          height: 15vh;
        }
      }
    }
  }

  &-user {

    display: flex;
    justify-content: space-between;
    padding-right: 3vh;
    color: #8E8E93;
    padding-top: 1vh;

    &-title {
      font-size: 2vh;
      height: 2.5vh;
      text-align: center;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 0.5px solid grey;
      border-top: 0.5px solid grey;
      padding-top: 1vh;
      padding-bottom: 1vh;
    }

    &-name,
    &-likes,
    &-createdAt {
      display: flex;
      align-items: center;
    }

  }
}

// new news post

.form {
  width: 80%;
  height: 100%;
  margin: 10vh auto 0 auto;

&__block {
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-size: 14px;

  input {
    margin-left: 2vh;
    height: 70%;
    width: 100%;
    font-size: 1.5rem;
  }

}



}