@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_utils.scss";
@import "./font.scss";

html {
  position: relative;
  min-height: 100%;
}

body {
  min-width: 350px;
  width: 100%;
  min-height: 100%;
}

.mypage__table-thead th:nth-child(1) {
  width: 20%;
}

.mypage__table-thead th:nth-child(2) {
  width: 70%;
}

.mypage__table-thead th:nth-child(3) {
  width: 10%;
}

.mypage__table {

  .mypage__table-tr {
    line-height: 1;
  }

.mypage__table-td {
  text-align: center;
  vertical-align: middle;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .mypage__table-td-btn {
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 0.5rem;
  }
}
}

.swiper-pagination {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;

  .swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    background-color: $primaryBlue;
  }

  .swiper-pagination-bullet-active {
    background-color: #ffcc00 !important;
  }
}

.show {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.onepage_wrap {
  position: relative;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.onepage_container {
  width: 100%;
  height: 80vh;
}

.onepage_container:nth-child(1) {
  background-color: $primaryDark;
}
.onepage_container:nth-child(2) {
  background-color: $primaryBlue;
}

.custom-button {
  background-color: transparent;
  font-weight: 600;
  font-size: 2rem;
  padding: 0 1rem;
  color: white;

  &:hover {
    color: $primaryBlue;
  }
}

.activeSlideIndex {
  color: #ffcc00;
}


.scrolled-header {
  background-color: $primaryBrown !important;
  font: white !important;
}

.normal-header {
  background-color: white;
}

.header {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 999;
  transition: 0.4s;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    z-index: 99;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 20px;
    box-sizing: border-box;
    font-weight: 600;
    justify-content: space-between;
    color: $primaryDark;

    &__menu {
      z-index: 99;
      display: flex;
      gap: 20px;
    }
  }

  &__nav {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primaryBlue;
    color: white;

    &-items {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4rem;
      padding-left: 0;

      &-back {
        overflow: hidden;
        background-image: linear-gradient(
          to top,
          $primaryYellow 50%,
          transparent 50%
        );
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size 0.8s;

        &:hover,
        &:focus {
          background-size: 100% 100%;
        }
      }

      &-item {
        font-size: 1.3rem;
        text-decoration: none;
        font-weight: 600;
        color: whitesmoke;
        word-break: break-word;
      }
    }
  }
}

@include mobile {
  .header {
    height: 100px;
    box-sizing: border-box;
  }

  .header__nav {
    display: none;
  }

  .header__title {
    font-size: 2rem;
  }

  .header__nav-items {
    display: none;
  }

  .onepage_container {
    height: 90vh;
  }
}

@include tablet {
  .header {
    height: 12vh;
  }

  .header__nav {
    display: none;
  }

  .header__nav-items {
    display: none;
  }

  .onepage_container {
    height: 90vh;
  }
}

.carousel {
  input:checked + .carousel__slides-container .carousel__slides-container-img {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
  }

  input:checked
    + .carousel__slides-container
    .carousel__slides-container-controls
    label {
    display: block;
  }

  input#img-1:checked ~ .carousel__dots label#img-dot-1,
  input#img-2:checked ~ .carousel__dots label#img-dot-2,
  input#img-3:checked ~ .carousel__dots label#img-dot-3 {
    opacity: 1;
  }

  margin: 0 auto;
  min-width: 300px;
  width: 80%;
  max-width: 800px;

  &__slides {
    display: block;
    position: relative;
    height: 400px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    list-style: none;

    @media (max-width: 768px) {
      width: 80%;
      height: 250px;
    }

    &-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      z-index: 10;
      text-align: center;

      &-dot {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: whitesmoke;
        opacity: 0.5;
        margin: 10px;
        cursor: pointer;
      }
    }

    * {
      user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
    }

    input {
      display: none;
    }

    &-container {
      display: flex;
      justify-content: center;
      width: 100%;

      &-img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0;
        transition: all 0.7s ease-in-out;
        &:hover + .carousel__slides-container-controls label {
          opacity: 0.5;
        }

        img {
          width: auto;
          min-width: 100%;
          height: 100%;
          border-radius: 20px;
        }
      }

      &-controls {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        font-size: 50px;
        line-height: 400px;
        color: #ffcc00;

        &-prev {
          width: 49%;
          text-align: left;
          left: 0;
          color: #ffcc00;
          z-index: 10;
        }

        &-next {
          width: 49%;
          text-align: right;
          right: 0;
        }

        label {
          display: none;
          position: absolute;
          padding: 0 20px;
          opacity: 0;
          transition: opacity 0.2s;
          cursor: pointer;
        }
      }
    }
  }
}

.login__container {
  background-color: #1f1f21;
  background-image: url(../../public/images/1.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.button-prev {
  position: absolute;
  left: 10vh;
  z-index: 10;
  top: 6vh;
  left: 6vh;
  @extend .blue__button;
}

.background-blue {
  position: absolute;
  background-color: #5ac8fa;
}

.text-highlight {
  overflow: hidden;
  background-image: linear-gradient(
    to top,
    $primaryYellow 50%,
    transparent 50%
  );
}

.form__login {
  margin: 20vh auto !important;
}

.form__signup {
  &__title {
    font-size: 3vh;
  }

  overflow: hidden;
  flex-wrap: nowrap;
  width: 80%;
  margin: 10vh auto;
  padding: 5vh 3vh;

  &__btn {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    background-color: $primaryDark;
    opacity: 0.8;
    margin: 2vh 0;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &-submit {
      border: none;
      outline: none;
      background-color: $primaryDark;
      color: white;
      font-size: 2vh;
      font-weight: 700;
      cursor: pointer;
    }
  }

  &__block {
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    line-height: 3vh;
    background-color: white;
    margin: 3vh 0;
    border-radius: 40px;
    display: flex;
    align-items: center;

    &-login {
      display: flex;
      justify-content: center;
      padding-top: 1vh;
      padding-bottom: 1vh;
      color: white;

      &-link {
        text-decoration: none;
        padding-left: 5px;
        color: #ffcc00;
        font-weight: 700;
      }
    }

    label {
      font-size: 3vh;
      padding-left: 1vh;
      padding-right: 1vh;
    }

    input {
      border: none;
      outline: none;
      font-size: 2vh;
      background-color: transparent;
      width: 90%;
      overflow: hidden;

      &:focus {
        border: none;
      }
    }
  }
}

.error__msg {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

// mobile
@media (max-width: 820px) {
  .header__nav {
    display: none;
    z-index: 999;
  }
}

.search__bar--newsbox {
  border-bottom: 3px solid gray;
  padding-bottom: 10px;
}

.search__btn {
  text-wrap: nowrap;
  padding: 5px;
  margin-left: 5px;
  background-color: gray;
  border-radius: 10px;

  &:hover {
    background-color: $primaryDark;
    color: white;
  }
}
